.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-list {
  display: flex;
  flex-direction: row;
}

.one-contact {
  border: 2px solid;
  border-radius: 8px;
  height: 250px;
  width: 20%;
}
